@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;700&display=swap");

// Formatação geral da página
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Teko", sans-serif;
}

body {
  padding-top: 5rem;
  min-height: 100vh;
  background-image: url(../image/background.jpg);
  background-size: cover;
  background-color: #e0ff71;
}

// Card container
#container {
  margin: 0 auto;
  padding: 20px;
  width: 500px;
  height: 550px;
  border-radius: 20px;
  background-color: #d91cffa8;
  box-shadow: 5px 5px 2px #000000;
  h1 {
    text-align: center;
    text-shadow: 2px 2px 1px #ffffff;
    line-height: 10px;
    span {
      color: #bd0101;
    }
  }
  h2 {
    margin-bottom: 1.5rem;
    text-align: center;
    text-shadow: 2px 2px 1px #ffffff;
  }

  #form {
    display: flex;
    justify-content: space-between;
    img {
      width: 30px;
      filter: drop-shadow(4px 3px 1px black);
    }
    .hero_card {
      .us {
        width: 25px;
      }
      margin: 0 auto;
      #hero_name,
      #hero_hit {
        margin-left: 5px;
        padding: 7px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: none;
        box-shadow: 3px 3px 1px #000000;
      }
    }
    .char_card {
      margin: 0 auto;
      #char_name,
      #char_life,
      #char_def {
        margin-right: 5px;
        padding: 7px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: none;
        box-shadow: 3px 3px 1px #000000;
      }
      .shield {
        padding-left: 10px;
        display: flex;
        align-items: center;
        gap: 7px;
      }
    }
  }
  #js_res {
    width: 100%;
    height: 90px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    button {
      max-height: 50px;
      font-weight: 700;
      color: black;
      width: 6rem;
      padding: 10px;
      font-size: 18px;
      cursor: pointer;
      border-radius: 20px;
      border: none;
      box-shadow: 3px 3px 1px #000000;
      text-shadow: 2px 2px 1px white;
      background-color: #ffffff77;
      transition: 0.4s;
      &:hover {
        background-color: #21ff219f;
        text-shadow: none;
      }
    }
    #result {
      width: 19rem;
      height: 14rem;
      padding-top: 10px;
      font-weight: 400;
      text-shadow: 2px 2px 1px #ffffffa1;
      font-size: 15pt;
      font-style: italic;
      text-align: center;
      background-color: #e0ff7169;
      border-radius: 10px;
      box-shadow: 3px 3px 1px #000000;
      .c_red {
        color: #e00000c7;
        font-weight: 700;
      }
    }
  }
  .re_btn {
    display: flex;
    justify-content: end;
    padding-top: 3rem;
    margin-top: 3.5rem;
    transition: 0.1s;
    img {
      cursor: pointer;
      filter: drop-shadow(2px 3px 1px white);
      &:hover {
        filter: drop-shadow(3px 3px 2px white);
      }
    }
  }
}
